* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --background: rgb(52, 121, 186);
  --button: rgb(255, 192, 1);
  --text-base: #c4c4cc;
  --title: #e1e1e6;
}

body {
  color: var(--text-base);
}

li {
  list-style: none;
  padding: 2rem;
}

li:hover {
  background: var(--background);
}

a {
  text-decoration: none;
  color: var(--text-base);
}

h1 {
  font-size: 1.5rem;
  color: black;
  text-align: center;
  display: block;
  margin: 2rem 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #121214;
  padding: 0 2rem;
}

header strong {
  font-size: 1.5rem;
  color: var(--title);
}

header ul {
  display: flex;
  font-size: 1rem;
}

main {
  margin-bottom: 2rem;
}

.men {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: var(--background);
  color: var(--text-base);
}

.content-men {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.content-men strong {
  font-size: 3rem;
  letter-spacing: 4px;
  color: white;
}

.content-men p {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 2px;
}

.content-men button {
  background-color: var(--button);
  border: none;
  padding: 1rem;
  width: 50%;
  border-radius: 4px;
  font-size: 1rem;
  color: var(--title);
  cursor: pointer;
}

.content-men button:hover {
  opacity: 0.7;
}

.others {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  flex-wrap: wrap;
}

footer {
  color: white;
  background: var(--background);
  text-align: center;
  padding: 2rem;
}

footer p {
  letter-spacing: 2px;
}

.btn-menu{
  display: none;
  border: none;
  background: transparent;
}

.menu{
  display: none;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100vh;
  background: black;
}

.menu ul{
  width: 100%;
}

.active{
  display: flex;
}

@media (max-width: 960px) {
  .men {
    flex-direction: column;
  }
  header {
    padding: 2rem;
  }
  header ul {
    display: none;
  }
  .content-men {
    align-items: center;
    text-align: center;
  }
  .btn-menu{
    display: flex;
  }
}

@media (max-width: 500px) {
  .men img {
    width: 100%;
  }
}
